/*
 * Copyright (c) 2023 Jan Gnip
 * Copyright (c) 2021 Advanced Climate Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c2 {
    status = "okay";

    scd30_0@61 {
		compatible = "sensirion,scd30";
		reg = <0x61>;
		sample-period = <30>;
	};
};
